<section>
<h2><%= link_to 'Back To Home Page', '/profiles', class: "btn btn-info" %> <%= link_to "Edit", "/profiles/#{@profile.id}/edit", class: "btn btn-info" %> <%= link_to 'Delete', "/profiles/#{@profile.id}", class: "btn btn-warning", method: :delete %></h2>
<br>
<h2>Name: <%= current_user.name %></h2>
<h2>Email: <%= current_user.email %></h2>
<h2>Company Address: <%= current_user.profile.address %></h2>
<h2>Phone Number: <%= current_user.profile.phone %></h2>
<h2>Description: <%= current_user.profile.description %></h2>
</section>